<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 offset-md-2">
			<div class="containerSocialNetworks">
				<i class="bi bi-telephone-fill"></i>
				<a href="tel:+5536841607">
					55 36 84 16 07
				</a>
			</div>
			<div class="containerSocialNetworks">
				<i class="bi bi-whatsapp"></i>
				<a href="https://api.whatsapp.com/send?phone=5215536841607" target="_blank" rel="noopener noreferrer">
					55 36 84 16 07
				</a>
			</div>
			<div class="containerSocialNetworks">
				<i class="bi bi-mailbox"></i>
				<a href="mailto:pejecutivos@utel.mx">pejecutivos@utel.mx</a>
			</div>
		</div>
	</div>
</div>