/* You can add global styles to this file, and also import other style files */
body {
    margin: 0 !important;
}

.row {
    --bs-gutter-x: 0rem !important;
}
.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
html, body { height: 100%; }
body { margin: 0; }
